<h3>Estado del pago</h3>
<div>
    <ul>
        <li>Metodo de pago : {{payment_id}}</li>
        <li>Referencia externa : {{external_reference}}</li>
        <li>ID de pago : {{collection_id}}</li>
    </ul>
</div>